.project-download:hover {
    cursor: pointer;
}

.DeleteMyProject {
    background-color: #58a4d9;
    color: #fff;
    border: none;
    margin: 15px 0 10px 0;
    padding: 7px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}