.container {
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #58a4d9;
}

.header__title {
    font-size: 24px;
    margin-left: 30px;
    color: #ffffff;
    font-weight: bold;
}

.header__nav ul {
    list-style: none;
    margin: 0 50px 0 0;
    padding: 0;
    display: flex;
}

.header__nav li {
    margin-left: 20px;
}

.header__nav a {
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    /*background-image: linear-gradient(to bottom, #00a2ff, #15122d);*/
    flex-direction: column;
    padding: 30px 10px;

}

.section__content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    flex: 1;
    margin: 0.4% 20%;
    border: 2px solid #ddd;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.section__content .row .col {
    text-align: center;
}

.section__button {
    background-color: #58a4d9;
    color: #fff;
    border: none;
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
