.pageTitle {
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    font-size: 50px;
    background-color: #f7f7f7;
}

.school-news {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.school-news iframe {
    background-color: #fff;
    width: 100%;
    min-height: 800px;
}