.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* вычитаем высоту header */
}

.auth-box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.success-message {
    color: #4CAF50;
    margin-bottom: 20px;
    font-size: 24px;
}

.error-message {
    color: #f44336;
    margin-bottom: 20px;
    font-size: 24px;
}

.auth-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #58a4d9;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.auth-button:hover {
    background-color: #4691c7;
} 